<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @employee.curp %>
</p>

<p>
  <strong>Net monthly salary:</strong>
  <%= @employee.net_monthly_salary %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @employee.admission_date %>
</p>

<p>
  <strong>Employee key:</strong>
  <%= @employee.employee_key %>
</p>

<p>
  <strong>Payment cycle:</strong>
  <%= @employee.payment_cycle %>
</p>

<p>
  <strong>Fk id card:</strong>
  <%= @employee.fk_id_card %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employee.company.company_name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
