<%= form_for @loan, :html => { :class => "form-horizontal loan" } do |f| %>

  <% if @loan.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @loan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%=f.select :employee_id, current_user.companies.map(&:employees).flatten.collect {|p| [ "#{p.first_name} #{p.surname}", p.id ] }, { :include_blank => true}, { :class=>"form-control"}%>
    </div>
    <%=f.error_span(:employee_id) %>
  </div>
  <div class="form-group">
    <%= f.label :net_salary, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :net_salary, :class => 'form-control' %>
    </div>
    <%=f.error_span(:net_salary) %>
  </div>
  <div class="form-group">
    <%= f.label "Interest (%)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :interest, :class => 'form-control', :value=>8 %>
    </div>
    <%=f.error_span(:interest) %>
  </div>
  <div class="form-group">
    <%= f.label :max_credit, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :max_credit, :class => 'form-control' %>
    </div>
    <%=f.error_span(:max_credit) %>
  </div>
  <div class="form-group">
    <%= f.label :period, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :period, :class => 'form-control', :value=>Loan.get_period %>
    </div>
    <%=f.error_span(:period) %>
  </div>
  <div class="form-group">
    <%= f.label :capital_requisition, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :capital_requisition, :class => 'form-control' %>
    </div>
    <%=f.error_span(:capital_requisition) %>
  </div>
  <div class="form-group">
    <%= f.label :date_requisition, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_requisition, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_requisition) %>
  </div>
  <div class="form-group">
    <%= f.label :capital_to_pay, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :capital_to_pay, :class => 'form-control' %>
    </div>
    <%=f.error_span(:capital_to_pay) %>
  </div>
  <div class="form-group">
    <%= f.label :balance, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :balance, :class => 'form-control' %>
    </div>
    <%=f.error_span(:balance) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                loans_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $("#loan_employee_id").change(function(){
      id = $(this).val();
      $.ajax({
        url: "/employees/"+id+"/net_salary",
      })
    })
  })
</script>