
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>PayDayLoan</span></a>
      </div>
      <div class="clearfix"></div>
    
      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                <%=link_to "Dashboard", root_path %>                
                </li>                
              </ul>
            </li>
            <li><a><i class="fa fa-building"></i> Empresas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nueva empresa", new_company_path %>
                </li>
                <li>
                  <%=link_to "Listar empresas", companies_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-group"></i> Empleados <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Nuevo empleado", new_employee_path %>
                </li>
                <li>
                  <%=link_to "Listar empleados", employees_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-money"></i> Préstamos <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%=link_to "Solicitudes de prestamo", new_loan_path %>
                </li>
                <li>
                  <%=link_to "Listar prestamos", loans_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-credit-card"></i> Tarjetas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                 <%=link_to "Nueva Tarjeta", new_card_path %>
                </li>
                <li>
                 <%=link_to "Listar Tarjeta", cards_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Reportes <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Chart JS</a>
                </li>
                <li><a href="#">Chart JS2</a>
                </li>                
              </ul>
            </li>
          </ul>
        </div>

          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
